* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn_tipo,
.btn_tipo:hover {
  background-color: #bec1c6;
  border-color: transparent;
  border-radius: 0px;
  color: #000;
  margin: 1%;
  width: 25%;
}
.lista {
  display: none;
  list-style: none;
}
.modal {
  display: none;
}
.modal .modal_content {
  text-align: center;
  width: 67%;
}
.modal .modal_body {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
.modal .modal_footer {
  border-top: none;
  display: flex;
  justify-content: center;
}
.ruta {
  background: #286090;
  border-radius: 15px;
  border: 1px solid #286090;
  color: #fff;
  display: none;
  margin-top: 5%;
  padding: 3%;
  text-align: center;
  width: 55%;
}
section {
  display: flex;
}
